<p>Operating Agreement of</p>
<p>{d.companyName}</p>
<p>This Operating Agreement (the &quot;<strong>Agreement</strong>&quot;) of {d.companyName} (the &quot;<strong>Company</strong>&quot;), effective as of {d.date} (the &quot;<strong>Effective Date</strong>&quot;), is entered into by the Company and {d.uname}, as the single member of the Company (the &quot;<strong>Member</strong>&quot;).</p>
<p><strong>WHEREAS</strong>, the Company was formed as a limited liability company on {d.date} by the filing of Articles of Organization with the Secretary of State of the State of Illinois (&quot;<strong>Secretary of State</strong>&quot;) pursuant to and in accordance with the Illinois Limited Liability Company Act (805 ILCS 180/1-1 et seq.), as amended from time to time (the &quot;<strong>LLCA</strong>&quot;); and</p>
<p><strong>WHEREAS</strong>, the Member and the Company agree that the membership in and management of the Company shall be governed by the terms set forth herein.</p>
<p><strong>NOW, THEREFORE</strong>, the Member and the Company agree as follows:</p>
<p>1. <span class="underline">Name</span>. The name of the Company is {d.companyName} .</p>
<p>2. <span class="underline">Purpose</span>. The purpose of the Company is the transaction of any or all lawful business for which limited liability companies may be organized under the LLCA.</p>
<p>3. <span class="underline">Powers</span>. The Company shall have all the powers necessary or convenient to carry out the purposes for which it is organized, including the powers granted by the LLCA.</p>
<p>4. <span class="underline">Principal Place of Business; Registered Agent and Office</span>.</p>
<blockquote>
<p>a. <span class="underline">Principal Place of Business</span>. The location of the principal place of business of the Company shall be {d.caddress}, or such other location as the Member may from time to time designate.</p>
<p>b. <span class="underline">Registered Agent and Office</span>. The registered agent of the Company for service of process in the State of Illinois and the registered office of the Company in the State of Illinois shall be that person and location reflected in the Articles of Organization. In the event the registered agent ceases to act as such for any reason or the registered office shall change, the Member shall promptly designate a replacement registered agent or file a notice of change of address, as the case may be, in the manner provided by law.]</p>
</blockquote>
<p>5. <span class="underline">Members</span>.</p>
<blockquote>
<p>a. <span class="underline">Initial Member</span>. The Member owns 100% of the membership interests of the Company. The name and the business, residence, or mailing address of the Member are as follows:</p>
<p>{d.uname} {d.mailaddress}</p>
<p>b. <span class="underline">Additional Members</span>. One or more additional members may be admitted to the Company with the [written] consent of the Member. Before the admission of any such additional members to the Company, the Member shall amend this Agreement to make such changes as the Member shall determine to reflect the fact that the Company shall have such additional members. Each additional member shall execute and deliver a supplement or counterpart to this Agreement, as necessary.</p>
<p>c. <span class="underline">Membership Interests; Certificates</span>. The Company [will/will not] issue any certificates to evidence ownership of the membership interests.</p>
</blockquote>
<p>6. <span class="underline">Management</span>.</p>
<blockquote>
<p>a. <span class="underline">Authority; Powers and Duties of the Member</span>. The Member shall have exclusive and complete authority and discretion to manage the operations and affairs of the Company and to make all decisions regarding the business of the Company. Any action taken by the Member shall constitute the act of and serve to bind the Company. Persons dealing with the Company are entitled to rely conclusively on the power and authority of the Member as set forth in this Agreement. The Member shall have all rights and powers of a manager under the LLCA, and shall have such authority, rights, and powers in the management of the Company to do any and all other acts and things necessary, proper, convenient, or advisable to effectuate the purposes of this Agreement.</p>
<p>b. <span class="underline">Election of Officers; Delegation of Authority</span>. The Member may, from time to time, designate one or more officers with such titles as may be designated by the Member to act in the name of the Company with such authority as may be delegated to such officers by the Member (each such designated person, an &quot;<strong>Officer</strong>&quot;). Any such Officer shall act pursuant to such delegated authority until such Officer is removed by the Member. Any action taken by an Officer designated by the Member pursuant to authority delegated to such Officer shall constitute the act of and serve to bind the Company. Persons dealing with the Company are entitled to rely conclusively on the power and authority of any Officer set forth in this Agreement and any instrument designating such Officer and the authority delegated to him or her.</p>
</blockquote>
<p>7. <span class="underline">Liability of Member; Indemnification</span>.</p>
<blockquote>
<p>a. <span class="underline">Liability of Member</span>. Except as otherwise required in the LLCA, the debts, obligations, and liabilities of the Company, whether arising in contract, tort, or otherwise, shall be solely the debts, obligations, and liabilities of the Company, and the Member shall not be personally liable for any such debt, obligation, or liability of the Company solely by reason of being or acting as a member of the Company.</p>
<p>b. <span class="underline">Indemnification</span>. To the fullest extent permitted under the LLCA, the Member (irrespective of the capacity in which it acts) shall be entitled to indemnification and advancement of expenses from the Company for and against any loss, damage, claim, or expense (including attorneys' fees) whatsoever incurred by the Member relating to or arising out of any act or omission or alleged acts or omissions (whether or not constituting negligence or gross negligence) performed or omitted by the Member on behalf of the Company; provided, however, that any indemnity under this Section 7(b) shall be provided out of and to the extent of Company assets only, and neither the Member nor any other person shall have any personal liability on account thereof.</p>
</blockquote>
<p>8. <span class="underline">Term</span>. The term of the Company shall be perpetual unless the Company is dissolved and terminated in accordance with Section 12.</p>
<p>9. <span class="underline">Initial Capital Contributions</span>. The Member hereby agrees to contribute to the Company such cash, property, or services as determined by the Member.</p>
<p>10. <span class="underline">Tax Status; Income and Deductions</span>.</p>
<blockquote>
<p>a. <span class="underline">Tax Status</span>. As long as the Company has only one member, it is the intention of the Company and the Member that the Company be treated as a disregarded entity for federal and all relevant state tax purposes and neither the Company nor the Member shall take any action or make any election which is inconsistent with such tax treatment. All provisions of this Agreement are to be construed so as to preserve the Company's tax status as a disregarded entity.</p>
<p>b. <span class="underline">Income and Deductions</span>. All items of income, gain, loss, deduction, and credit of the Company (including, without limitation, items not subject to federal or state income tax) shall be treated for federal and all relevant state income tax purposes as items of income, gain, loss, deduction, and credit of the Member.</p>
</blockquote>
<p>11. <span class="underline">Distributions</span>. Distributions shall be made to the Member at the times and in the amounts determined by the Member.</p>
<p>12. <span class="underline">Dissolution; Liquidation</span>.</p>
<blockquote>
<p>a. <span class="underline">Dissolution Events</span>. The Company shall dissolve, and its affairs shall be wound up on the first to occur of the following: (i) the written consent of the Member or (ii) any other event or circumstance giving rise to the dissolution of the Company under the LLCA, unless the Company's existence is continued pursuant to the LLCA.</p>
<p>b. <span class="underline">Winding Up</span>. On dissolution of the Company, the Company shall immediately commence to wind up its affairs and the Member shall promptly liquidate the business of the Company. During the period of the winding up of the affairs of the Company, the rights and obligations of the Member under this Agreement shall continue.</p>
<p>c. <span class="underline">Distribution of Proceeds</span>. In the event of dissolution, the Company shall conduct only such activities as are necessary to wind up its affairs (including the sale of the assets of the Company in an orderly manner), and the assets of the Company shall be applied as follows: (i) first, to creditors, to the extent otherwise permitted by law, in satisfaction of liabilities of the Company (whether by payment or the making of reasonable provision for payment thereof); and (ii) second, to the Member.</p>
<p>d. <span class="underline">Statement of Termination</span>. On the completion of the winding up of the Company, the Member shall file a statement of termination in accordance with the LLCA.</p>
</blockquote>
<p>13. <span class="underline">Miscellaneous</span>.</p>
<blockquote>
<p>a. <span class="underline">Amendments</span>. Amendments to this Agreement may be made only with the [written] consent of the Member.</p>
</blockquote>
<p>b. <span class="underline">Governing Law</span>. This Agreement shall be governed by the laws of the State of Illinois.</p>
<blockquote>
<p>c. <span class="underline">Severability</span>. If any provision of this Agreement shall be declared to be invalid, illegal, or unenforceable, such provision shall survive to the extent it is not so declared, and the validity, legality, and enforceability of the other provisions hereof shall not in any way be affected or impaired thereby, unless such action would substantially impair the benefits to any party of the remaining provisions of this Agreement.</p>
</blockquote>
<p><strong>IN WITNESS WHEREOF</strong>, the undersigned have executed this Agreement to be effective as of the date first written above.</p>
<table>
<thead>
<tr class="header">
<th></th>
<th></th>
<th>MEMBER</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td>___________________________________</td>
</tr>
<tr class="odd">
<td></td>
<td></td>
<td>{d.uname}</td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td></td>
<td>{d.companyName}</td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td>By_________________________________</td>
</tr>
<tr class="odd">
<td></td>
<td></td>
<td>{d.uname}</td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td>{d.title}</td>
</tr>
</tbody>
</table>
