<html>
<head>
<title>D:\uploadedFiles\1ed5caaba15ed51af4ccda6f8d65966-6db832e57b864e1\p1e6sdh12odop14hp190u16cn5vu4.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 22.2px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1100:850" src="page_001.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_230:110" style="top:110;left:230">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
US Trademark Search and Registration Questionnaire</span>
</div>
<div class="pos" id="_99:137" style="top:137;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
To request a trademark search and/or registration, please complete this form and return it to: </span>
</div>
<div class="pos" id="_99:192" style="top:192;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
[NAME]</span>
</div>
<div class="pos" id="_99:211" style="top:211;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
[TITLE]</span>
</div>
<div class="pos" id="_99:231" style="top:231;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
[COMPANY OR FIRM]</span>
</div>
<div class="pos" id="_99:250" style="top:250;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
[ADDRESS]</span>
</div>
<div class="pos" id="_99:269" style="top:269;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
[TELEPHONE]</span>
</div>
<div class="pos" id="_99:288" style="top:288;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
[EMAIL]</span>
</div>
<div class="pos" id="_99:316" style="top:316;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
                </span>
</div>
<div class="pos" id="_99:343" style="top:343;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Please return the completed form as soon as possible. A trademark application filing date can be </span>
</div>
<div class="pos" id="_99:362" style="top:362;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
very important for obtaining priority of rights against someone who later adopts or applies to </span>
</div>
<div class="pos" id="_99:381" style="top:381;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
register a similar mark.</span>
</div>
<div class="pos" id="_99:436" style="top:436;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Completing a full US trademark search typically takes up to [[SPECIFY PERIOD]/two (2) </span>
</div>
<div class="pos" id="_99:456" style="top:456;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
weeks or longer]. Please advise if you require an earlier response. Note that the outside search </span>
</div>
<div class="pos" id="_99:475" style="top:475;left:99">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
providers' fees are higher for expedited searches.</span>
</div>
<div class="pos" id="_150:511" style="top:511;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
1.</span>
</div>
<div class="pos" id="_200:511" style="top:511;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>T</U><U>h</U><U>e</U><U> </U><U>M</U><U>a</U><U>r</U><U>k</U>. </span>
</div>
<div class="pos" id="_200:546" style="top:546;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Identify the proposed mark:</span>
</div>
<div class="pos" id="_108:592" style="top:592;left:108">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
Word Marks.<span style="font-weight:normal"> Type in all upper case block </span></span>
</div>
<div class="pos" id="_432:592" style="top:592;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 d.mark</span>
</div>
<div class="pos" id="_108:611" style="top:611;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
letters. Be clear as to spacing between words.</span>
</div>
<div class="pos" id="_108:639" style="top:639;left:108">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
Graphic Marks (for example, logos, </span>
</div>
<div class="pos" id="_108:658" style="top:658;left:108">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
images, drawings, etc.).<span style="font-weight:normal"> Paste a copy of the </span></span>
</div>
<div class="pos" id="_108:677" style="top:677;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
mark and include a brief description. This </span>
</div>
<div class="pos" id="_108:696" style="top:696;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
section is for a graphic that will be used </span>
</div>
<div class="pos" id="_108:715" style="top:715;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
stand-alone. Graphic elements that will only </span>
</div>
<div class="pos" id="_108:735" style="top:735;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
be used together with a word mark should be </span>
</div>
<div class="pos" id="_108:754" style="top:754;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
provided in your answer to <span style="font-weight:bold"> Question 3</span> .</span>
</div>
<div class="pos" id="_150:791" style="top:791;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
2.</span>
</div>
<div class="pos" id="_200:791" style="top:791;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>A</U><U>c</U><U>r</U><U>o</U><U>n</U><U>y</U><U>m</U><U> </U><U>o</U><U>r</U><U> </U><U>A</U><U>b</U><U>b</U><U>r</U><U>e</U><U>v</U><U>i</U><U>a</U><U>t</U><U>i</U><U>o</U><U>n</U><U> </U><U>f</U><U>o</U><U>r</U><U> </U><U>t</U><U>h</U><U>e</U><U> </U><U>M</U><U>a</U><U>r</U><U>k</U>. </span>
</div>
<div class="pos" id="_200:827" style="top:827;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
An acronym or abbreviated form of the mark often is a separate mark that must be </span>
</div>
<div class="pos" id="_100:846" style="top:846;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
searched and registered separately. If an acronym or abbreviation is not separately searched and </span>
</div>
<div class="pos" id="_100:865" style="top:865;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
registered you may not be able to use or protect it.</span>
</div>
<div class="pos" id="_108:911" style="top:911;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Identify in upper case block letters any </span>
</div>
<div class="pos" id="_432:911" style="top:911;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 d.acronym </span>
</div>
<div class="pos" id="_108:930" style="top:930;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
acronym or abbreviation you use or intend to </span>
</div>
<div class="pos" id="_108:949" style="top:949;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
use as a stand-alone identifier.</span>
</div>
<div class="pos" id="_0:0" style="top:1100">
<img name="_1100:850" src="page_002.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_150:1201" style="top:1201;left:150">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
3.</span>
</div>
<div class="pos" id="_200:1201" style="top:1201;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
<U>D</U><U>i</U><U>s</U><U>t</U><U>i</U><U>n</U><U>c</U><U>t</U><U>i</U><U>v</U><U>e</U><U> </U><U>F</U><U>o</U><U>r</U><U>m</U><U>a</U><U>t</U><U>s</U>. </span>
</div>
<div class="pos" id="_200:1237" style="top:1237;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
For each mark identified in your answers to <span style="font-weight:bold"> Questions 1</span> and <span style="font-weight:bold"> 2</span> , identify all </span>
</div>
<div class="pos" id="_100:1256" style="top:1256;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
distinctive formats in which the mark is used or to be used, which you wish to protect. For </span>
</div>
<div class="pos" id="_100:1276" style="top:1276;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
example, distinctive:</span>
</div>
<div class="pos" id="_108:1321" style="top:1321;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Typeface, font, or other stylization (e.g., </span>
</div>
<div class="pos" id="_432:1321" style="top:1321;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:1340" style="top:1340;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
[PROVIDE EXAMPLE]).</span>
</div>
<div class="pos" id="_108:1369" style="top:1369;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Color (e.g., [PROVIDE EXAMPLE]).</span>
</div>
<div class="pos" id="_432:1369" style="top:1369;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:1398" style="top:1398;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Mark with design or logo, where they appear   </span>
</div>
<div class="pos" id="_108:1417" style="top:1417;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
together as a single mark (e.g., [PROVIDE </span>
</div>
<div class="pos" id="_108:1436" style="top:1436;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
EXAMPLE]).</span>
</div>
<div class="pos" id="_150:1474" style="top:1474;left:150">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
4.</span>
</div>
<div class="pos" id="_200:1474" style="top:1474;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
<U>G</U><U>o</U><U>o</U><U>d</U><U>s</U><U> </U><U>a</U><U>n</U><U>d</U><U> </U><U>S</U><U>e</U><U>r</U><U>v</U><U>i</U><U>c</U><U>e</U><U>s</U>. </span>
</div>
<div class="pos" id="_200:1510" style="top:1510;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Please provide the following information for all goods and services for which you </span>
</div>
<div class="pos" id="_100:1529" style="top:1529;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
are using or intend to use the mark(s):</span>
</div>
<div class="pos" id="_108:1574" style="top:1574;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Goods and/or services (please be specific, for   d.goodservices</span>
</div>
<div class="pos" id="_108:1593" style="top:1593;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
example, "shampoo" instead of "hair care </span>
</div>
<div class="pos" id="_108:1613" style="top:1613;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
products").</span>
</div>
<div class="pos" id="_108:1641" style="top:1641;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Subject matter or purpose (for example, a </span>
</div>
<div class="pos" id="_432:1641" style="top:1641;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 d.subjectmatter</span>
</div>
<div class="pos" id="_108:1661" style="top:1661;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
website for selling books or software for </span>
</div>
<div class="pos" id="_108:1680" style="top:1680;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
financial accounting).</span>
</div>
<div class="pos" id="_108:1709" style="top:1709;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Target customer base (for example, age, </span>
</div>
<div class="pos" id="_432:1709" style="top:1709;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 d.targetcustomer</span>
</div>
<div class="pos" id="_108:1728" style="top:1728;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
income bracket, business or consumer).</span>
</div>
<div class="pos" id="_108:1757" style="top:1757;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Trade channels (for example, retail, </span>
</div>
<div class="pos" id="_432:1757" style="top:1757;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 d.tradechannels</span>
</div>
<div class="pos" id="_108:1776" style="top:1776;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
wholesale, business-to-business, online or </span>
</div>
<div class="pos" id="_108:1795" style="top:1795;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
institutional).</span>
</div>
<div class="pos" id="_150:1832" style="top:1832;left:150">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
5.</span>
</div>
<div class="pos" id="_200:1832" style="top:1832;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Use Dates. </span>
</div>
<div class="pos" id="_200:1868" style="top:1868;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Is your business currently using the mark in the US on goods or to promote </span>
</div>
<div class="pos" id="_100:1887" style="top:1887;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
services? Yes___ No___</span>
</div>
<div class="pos" id="_200:1923" style="top:1923;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
If you answered "yes" to the preceding question, please identify:</span>
</div>
<div class="pos" id="_108:1969" style="top:1969;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
The entity using the mark.</span>
</div>
<div class="pos" id="_432:1969" style="top:1969;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 d.usbusiness</span>
</div>
<div class="pos" id="_108:1998" style="top:1998;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
The date of first use of the mark anywhere </span>
</div>
<div class="pos" id="_432:1998" style="top:1998;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 d.firstuse</span>
</div>
<div class="pos" id="_108:2017" style="top:2017;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
(day, month, and year).</span>
</div>
<div class="pos" id="_108:2046" style="top:2046;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
The date of first use of the mark in US </span>
</div>
<div class="pos" id="_432:2046" style="top:2046;left:432">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 d.ususe</span>
</div>
<div class="pos" id="_108:2065" style="top:2065;left:108">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
commerce (day, month, and year). </span>
</div>
<div class="pos" id="_0:0" style="top:2200">
<img name="_1100:850" src="page_003.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_108:2311" style="top:2311;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Whether the use has been continuous (if not,   </span>
</div>
<div class="pos" id="_108:2330" style="top:2330;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
please identify lapses in use).</span>
</div>
<div class="pos" id="_108:2359" style="top:2359;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Whether you have made any changes to the </span>
</div>
<div class="pos" id="_432:2359" style="top:2359;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 d.markchanges</span>
</div>
<div class="pos" id="_108:2378" style="top:2378;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
mark (and, if so, please identify).</span>
</div>
<div class="pos" id="_200:2416" style="top:2416;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
If you answered "no," when do you plan to start using the mark in US </span>
</div>
<div class="pos" id="_100:2435" style="top:2435;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
commerce?____________</span>
</div>
<div class="pos" id="_150:2471" style="top:2471;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
6.</span>
</div>
<div class="pos" id="_200:2471" style="top:2471;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>G</U><U>e</U><U>o</U><U>g</U><U>r</U><U>a</U><U>p</U><U>h</U><U>i</U><U>c</U><U> </U><U>A</U><U>r</U><U>e</U><U>a</U><U>s</U><U> </U><U>o</U><U>f</U><U> </U><U>U</U><U>s</U><U>e</U>. </span>
</div>
<div class="pos" id="_200:2506" style="top:2506;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Identify where you currently use or plan to use the mark. Specifically include:</span>
</div>
<div class="pos" id="_108:2552" style="top:2552;left:108">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
US use.<span style="font-weight:normal"> "Nationwide" or, if limited, identify </span></span>
</div>
<div class="pos" id="_432:2552" style="top:2552;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 d.usegeography</span>
</div>
<div class="pos" id="_108:2571" style="top:2571;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
specific states or regions.</span>
</div>
<div class="pos" id="_108:2600" style="top:2600;left:108">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
Foreign.<span style="font-weight:normal"> Each jurisdiction, including whether </span><span style="font-weight:normal">  </span></span>
</div>
<div class="pos" id="_108:2619" style="top:2619;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
your business owns a registration for and/or </span>
</div>
<div class="pos" id="_108:2638" style="top:2638;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
uses the mark in the jurisdiction or, if not, if </span>
</div>
<div class="pos" id="_108:2658" style="top:2658;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
you wish to use and/or register it there.</span>
</div>
<div class="pos" id="_150:2695" style="top:2695;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
7.</span>
</div>
<div class="pos" id="_200:2695" style="top:2695;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>M</U><U>a</U><U>t</U><U>e</U><U>r</U><U>i</U><U>a</U><U>l</U><U>s</U><U> </U><U>o</U><U>n</U><U> </U><U>W</U><U>h</U><U>i</U><U>c</U><U>h</U><U> </U><U>t</U><U>h</U><U>e</U><U> </U><U>M</U><U>a</U><U>r</U><U>k</U><U> </U><U>I</U><U>s</U><U> </U><U>o</U><U>r</U><U> </U><U>W</U><U>i</U><U>l</U><U>l</U><U> </U><U>B</U><U>e</U><U> </U><U>U</U><U>s</U><U>e</U><U>d</U><U> </U>. </span>
</div>
<div class="pos" id="_200:2731" style="top:2731;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Specify whether you currently use the mark on the following materials and if not, </span>
</div>
<div class="pos" id="_100:2750" style="top:2750;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
whether you plan to start using the mark on them:</span>
</div>
<div class="pos" id="_200:2786" style="top:2786;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
d.usematerials</span>
</div>
<div class="pos" id="_107:2830" style="top:2830;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Products.</span>
</div>
<div class="pos" id="_432:2830" style="top:2830;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_107:2857" style="top:2857;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Product packaging, labels, or tags (specify).</span>
</div>
<div class="pos" id="_432:2857" style="top:2857;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_107:2885" style="top:2885;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Online.</span>
</div>
<div class="pos" id="_432:2885" style="top:2885;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_107:2912" style="top:2912;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Advertising and promotional materials for </span>
</div>
<div class="pos" id="_432:2912" style="top:2912;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_107:2931" style="top:2931;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
services. </span>
</div>
<div class="pos" id="_107:2959" style="top:2959;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Signs where services are provided.</span>
</div>
<div class="pos" id="_432:2959" style="top:2959;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_107:2986" style="top:2986;left:107">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Other (specify).</span>
</div>
<div class="pos" id="_432:2986" style="top:2986;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_100:3014" style="top:3014;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_100:3041" style="top:3041;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_150:3077" style="top:3077;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
8.</span>
</div>
<div class="pos" id="_200:3077" style="top:3077;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Mark's Origin or Derivation. </span>
</div>
<div class="pos" id="_200:3113" style="top:3113;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Name of business or person who created the mark: </span>
</div>
<div class="pos" id="_100:3132" style="top:3132;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
_________d.creatorname_______________________.</span>
</div>
<div class="pos" id="_0:0" style="top:3300">
<img name="_1100:850" src="page_004.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_200:3401" style="top:3401;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Is the creator an employee of your company or a third party? </span>
</div>
<div class="pos" id="_100:3421" style="top:3421;left:100">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
_________d.creatoraffill_______________________.</span>
</div>
<div class="pos" id="_200:3456" style="top:3456;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
If the creator is a third party, please identify the relationship with your company </span>
</div>
<div class="pos" id="_100:3476" style="top:3476;left:100">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
(for example, advertising agency or brand consultant):______________________________.</span>
</div>
<div class="pos" id="_200:3511" style="top:3511;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Please provide all that are relevant:</span>
</div>
<div class="pos" id="_108:3557" style="top:3557;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Meaning or significance of the mark specific   d.markmeaning</span>
</div>
<div class="pos" id="_108:3576" style="top:3576;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
to your industry.</span>
</div>
<div class="pos" id="_108:3605" style="top:3605;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
English translation if the mark includes a </span>
</div>
<div class="pos" id="_432:3605" style="top:3605;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 d.markforeign</span>
</div>
<div class="pos" id="_108:3624" style="top:3624;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
foreign word or phrase.</span>
</div>
<div class="pos" id="_108:3653" style="top:3653;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Long-form word or phrase for which the mark   d.markabbr</span>
</div>
<div class="pos" id="_108:3672" style="top:3672;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
is an abbreviation or acronym.</span>
</div>
<div class="pos" id="_108:3701" style="top:3701;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
English language word for which the mark is   d.markcreatedspell</span>
</div>
<div class="pos" id="_108:3720" style="top:3720;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
a created spelling.</span>
</div>
<div class="pos" id="_200:3758" style="top:3758;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Do you know of any current or prior use of the same or a similar mark for the </span>
</div>
<div class="pos" id="_100:3777" style="top:3777;left:100">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
same or related goods or services by a competitor or any other person? Yes___ No___</span>
</div>
<div class="pos" id="_200:3813" style="top:3813;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
If you answered "yes" to the preceding question, please specify:</span>
</div>
<div class="pos" id="_108:3858" style="top:3858;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
The third party, including whether or not it is   d.marksimiliar </span>
</div>
<div class="pos" id="_108:3877" style="top:3877;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
a competitor.</span>
</div>
<div class="pos" id="_108:3906" style="top:3906;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
The third party's mark.</span>
</div>
<div class="pos" id="_432:3906" style="top:3906;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:3935" style="top:3935;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
The third-party goods or services for which </span>
</div>
<div class="pos" id="_432:3935" style="top:3935;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:3954" style="top:3954;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
the mark is or was used.</span>
</div>
<div class="pos" id="_108:3983" style="top:3983;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Whether the third party's mark is still in use.</span>
</div>
<div class="pos" id="_432:3983" style="top:3983;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 </span>
</div>
<div class="pos" id="_150:4020" style="top:4020;left:150">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
9.</span>
</div>
<div class="pos" id="_200:4020" style="top:4020;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Related Uses. </span>
</div>
<div class="pos" id="_200:4056" style="top:4056;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Specify whether (and if so, how) you use or intend to use the mark as (or as part </span>
</div>
<div class="pos" id="_100:4075" style="top:4075;left:100">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
of) any of the following: </span>
</div>
<div class="pos" id="_108:4121" style="top:4121;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Company name.</span>
</div>
<div class="pos" id="_432:4121" style="top:4121;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:4150" style="top:4150;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Domain name.</span>
</div>
<div class="pos" id="_432:4150" style="top:4150;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:4179" style="top:4179;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
Social media uses (for example, Facebook </span>
</div>
<div class="pos" id="_432:4179" style="top:4179;left:432">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:4198" style="top:4198;left:108">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
user name or page).</span>
</div>
<div class="pos" id="_150:4235" style="top:4235;left:150">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
10.</span>
</div>
<div class="pos" id="_200:4235" style="top:4235;left:200">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
<U>[</U><U>U</U><U>s</U><U>e</U><U> </U><U>S</U><U>p</U><U>e</U><U>c</U><U>i</U><U>m</U><U>e</U><U>n</U><U>s</U>. If the mark is in use, provide [NUMBER] specimens showing </span>
</div>
<div class="pos" id="_100:4254" style="top:4254;left:100">
<span id="_16.0" style=" font-family:Times New Roman; font-size:16.0px; color:#000000">
the mark as it is used:</span>
</div>
<div class="pos" id="_0:0" style="top:4400">
<img name="_1100:850" src="page_005.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_125:4498" style="top:4498;left:125">
<span id="_16.1" style=" font-family:Symbol; font-size:16.1px; color:#000000">
<li type="square"><span style=" font-family:Times New Roman"> On the products for which you wish to register the mark.</span></span>
</div>
<div class="pos" id="_125:4526" style="top:4526;left:125">
<span id="_16.1" style=" font-family:Symbol; font-size:16.1px; color:#000000">
<li type="square"><span style=" font-family:Times New Roman"> To promote the services for which you wish to register the mark.</span></span>
</div>
<div class="pos" id="_200:4567" style="top:4567;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Acceptable specimens include:</span>
</div>
<div class="pos" id="_125:4599" style="top:4599;left:125">
<span id="_16.1" style=" font-family:Symbol; font-size:16.1px; color:#000000">
<li type="square"><span style="font-weight:bold; font-family:Times New Roman"> For marks used on products:</span><span style=" font-family:Times New Roman"> The product, point of sale displays, labels, tags, a website </span></span>
</div>
<div class="pos" id="_150:4623" style="top:4623;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
displaying the product if the mark appears how it is associated with the product and the </span>
</div>
<div class="pos" id="_150:4643" style="top:4643;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
web page provides a means of ordering the product. If none of these are practical, a color </span>
</div>
<div class="pos" id="_150:4662" style="top:4662;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
photograph of the mark as used on the product is acceptable. <span style="font-weight:bold"> Advertising and </span></span>
</div>
<div class="pos" id="_150:4681" style="top:4681;left:150">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
promotional materials are not acceptable unless they include a picture of the </span>
</div>
<div class="pos" id="_150:4700" style="top:4700;left:150">
<span id="_16.1" style="font-weight:bold; font-family:Times New Roman; font-size:16.1px; color:#000000">
product bearing the mark.</span>
</div>
<div class="pos" id="_125:4724" style="top:4724;left:125">
<span id="_16.1" style=" font-family:Symbol; font-size:16.1px; color:#000000">
<li type="square"><span style="font-weight:bold; font-family:Times New Roman"> For marks used with services:</span><span style=" font-family:Times New Roman"> Advertising and other materials showing the mark to </span></span>
</div>
<div class="pos" id="_150:4748" style="top:4748;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
promote the services and materials showing the mark as used in the course of providing </span>
</div>
<div class="pos" id="_150:4767" style="top:4767;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
the services.]</span>
</div>
<div class="pos" id="_150:4803" style="top:4803;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
11.</span>
</div>
<div class="pos" id="_200:4803" style="top:4803;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>[</U><U>R</U><U>e</U><U>g</U><U>i</U><U>s</U><U>t</U><U>r</U><U>a</U><U>n</U><U>t</U><U> </U><U>I</U><U>n</U><U>f</U><U>o</U><U>r</U><U>m</U><U>a</U><U>t</U><U>i</U><U>o</U><U>n</U>. </span>
</div>
<div class="pos" id="_200:4839" style="top:4839;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
If you wish to register the mark in the US, please provide the following </span>
</div>
<div class="pos" id="_100:4858" style="top:4858;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
information about [the registrant entity/your division]: </span>
</div>
<div class="pos" id="_108:4903" style="top:4903;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Legal entity.</span>
</div>
<div class="pos" id="_432:4903" style="top:4903;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:4932" style="top:4932;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Type of entity (e.g., corporation partnership, </span>
</div>
<div class="pos" id="_432:4932" style="top:4932;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:4952" style="top:4952;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
limited liability company, etc.).</span>
</div>
<div class="pos" id="_108:4980" style="top:4980;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
The state or country under whose laws the </span>
</div>
<div class="pos" id="_108:5000" style="top:5000;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
entity exists (or citizenship, for individuals).</span>
</div>
<div class="pos" id="_108:5028" style="top:5028;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Mailing address.</span>
</div>
<div class="pos" id="_432:5028" style="top:5028;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5057" style="top:5057;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Business name (if different from the legal </span>
</div>
<div class="pos" id="_432:5057" style="top:5057;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5077" style="top:5077;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
entity name).]</span>
</div>
<div class="pos" id="_150:5114" style="top:5114;left:150">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
12.</span>
</div>
<div class="pos" id="_200:5114" style="top:5114;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
<U>C</U><U>o</U><U>n</U><U>t</U><U>a</U><U>c</U><U>t</U><U> </U><U>I</U><U>n</U><U>f</U><U>o</U><U>r</U><U>m</U><U>a</U><U>t</U><U>i</U><U>o</U><U>n</U>. </span>
</div>
<div class="pos" id="_200:5150" style="top:5150;left:200">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Please provide information for us to contact you with questions and to let you </span>
</div>
<div class="pos" id="_100:5169" style="top:5169;left:100">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
know whether or not the mark is available for use and/or registration: </span>
</div>
<div class="pos" id="_108:5214" style="top:5214;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Name</span>
</div>
<div class="pos" id="_432:5214" style="top:5214;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5243" style="top:5243;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Title</span>
</div>
<div class="pos" id="_432:5243" style="top:5243;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5272" style="top:5272;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Company</span>
</div>
<div class="pos" id="_432:5272" style="top:5272;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5301" style="top:5301;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Address</span>
</div>
<div class="pos" id="_432:5301" style="top:5301;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5330" style="top:5330;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Telephone</span>
</div>
<div class="pos" id="_432:5330" style="top:5330;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_108:5359" style="top:5359;left:108">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
Email</span>
</div>
<div class="pos" id="_432:5359" style="top:5359;left:432">
<span id="_16.1" style=" font-family:Times New Roman; font-size:16.1px; color:#000000">
 </span>
</div>
<div class="pos" id="_0:0" style="top:5500">
<img name="_1100:850" src="page_006.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_100:5601" style="top:5601;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
 </span>
</div>
</nowrap></nobr>
</body>
</html>
